.fontbold {
    font-weight: bold;
}

#maincalendarcontainer {
    font-weight: 32px;
}

#calendar {
   display: grid;
   grid-template-columns: auto;
}
.calendarheaderrow {
    display: flex;
    flex-direction: row;
    align-content: flex-end; 
}

.calendarrow {
    display: flex;
    flex-direction: row;
}

.flexitem {
    width: 14.28%;
    display: flex;
    justify-content: flex-start;
}

.flexitem {
   font-size:1rem;
}

.weekday {
    
    width: 14.20%;
    height:120%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 120px;
    display: flex;
    grid-template-columns: auto;
    flex-direction: column;

}

.weekend {
    background-color: #e3e3e3;
}

.weekdayitem {
    height: 20%;
    display: flex;
}

.dayclass {
    display: flex;
    justify-content: flex-end;
}

.event {
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: .8rem;
    width: 100%;

}

.active {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;


}

@media all and (max-width: 550px) {
    .calendarrow {
        flex-direction: column;
    }