img {
    width: 150px;
    height: 150px;
}

video {
    width: 150px;
    height: 150px;
}
table {
    text-align: center!important;
    margin-left: auto;
    margin-right: auto;
}

.CenterDiv {
    text-align: center !important;
}