.flextable {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0;
    padding-left: 0;
}
.flextablecell {
    width: default;
    flex-grow: 1;
    list-style: none;
    overflow: hidden;
}

@media all and (max-width: 500px;) {
    .flextablecell {
        display: block;
    }
}