/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    text-align: center; 
}

.Div1 {
    font-family: Apple Chancery !important;
    font-size: 24pt;
}

.footer div {
    font-family: Helvetica !important;
    font-size: 12pt;
    color: grey!important;
}

.grambuttons {
    background-color: #0095f6 !important;
    color: white!important;
    border-radius: 2px;
}

.grambuttons:hover {
    background-color: purple !important;
    color: white!important;
    border-radius: 2px;
}
.grambuttons2 {
    color: grey;
}
.grambuttons2:hover {
    color:black;
}

.testspan {
    font-family: Helvetica !important;
    font-size: 12pt;
    color: #cccccc !important;
}

.footerbuttons {
    font-family: Helvetica !important;
    font-size: 12pt;
    color: grey !important;
    text-decoration-style: none;
}
.container {
    background-color: #fafafa!important; 
}

.story {
    width: 15px;
    height: 15px;
    text-align: center !important;
}

.DivParent {
    position: relative;
    top: 0;
    color: white !important;
    font-family: Helvetica !important;
    font-size: 12pt;
    line-height: 60px;
    text-align: center;
    height: 100px;
    width: 100%;
    animation: Animation 0s 5s forwards;
}

.DivSticky {
    background-color: RGBA(0,0,0,.8) !important;
    backdrop-filter: opacity(65%);
    position: sticky;
    bottom: 0;
}

@keyframes Animation {
    from {
        visibility: visible;
    }
    to {
        visibility: hidden;
    }
}

