<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-security-policy"
          content="img-src 'self'" />
    <title>@ViewData["My Gram"] - My_Gram2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <span class="Div1">MyGram2</span>

                <input id="Search" type="text" name="Search" value="Search"
                       size="6" maxlength="15"
                       placeholder="Search" />
                <div class="container">
                    <a class="grambuttons" href="~/Home/Register">Log In</a>


                    <a class="grambuttons" href="~/Home/UpdateProfile">My Profile</a>
                </div>


            </div>
        </nav>
    </header>

    <body>


        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()

            </main>
        </div>


    </body>

    <div id="container" class="DivParent">
        <div class="DivSticky">
            Log In to MyGram2
            <a class="grambuttons" href="~/Home/Register">Log In</a> </br>
            Log in to see photos and videos from friends and discover other accounts you'll love.
            <a class="grambuttons" href="~/Home/UpdateProfile">Update Profile</a>
        </div>

    </div>

    <footer class="Border-top footer text-muted">
        <div class="footer">
            &copy;


            <a class="footerbuttons" href="https://www.google.com/"
               target="_Blank">
                About
            </a>
            <a class="footerbuttons" href="https://www.google.com/"
               target="_Blank">
                Blog
            </a>
            <a class="footerbuttons" href="https://www.google.com/"
               target="_Blank">
                Jobs
            </a>
            <a class="footerbuttons" href="https://www.google.com/"
               target="_Blank">
                Help
            </a>
            <a class="footerbuttons" href="https://www.google.com/"
               target="_Blank">
                English
            </a>
            <a class="footerbuttons" href="https://www.google.com/"
               target="_Blank">
                2021
            </a>
            <a class="footerbuttons" href="https://www.google.com/"
               target="_Blank">
                My Gram 2
            </a>
            </span>
        </div>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
