<link rel="stylesheet" href="~/css/Calendar.css" />



    <span class="fontbold">May</span> <span class="font">2021</span>
                                      <div id="maincalendarcontainer fluid-container">
                                          <div class="fluid-container">
                                              <div class="row justify-content-center">
                                                  <div class="col-lg-12 col-md-7 col-sm-12">
                                                      <div class="row">
                                                          <div class="col-1 offset-3">
                                                              <span>Sun</span>
                                                          </div>
                                                          <div class="col-1">
                                                              <div>Mon</div>
                                                          </div>
                                                          <div class="col-1">
                                                              <div>Tue</div>
                                                          </div>
                                                          <div class="col-1">
                                                              <div>Wed</div>
                                                          </div>
                                                          <div class="col-1">
                                                              <div>Thu</div>
                                                          </div>
                                                          <div class="col-1">
                                                              <div>Fri</div>
                                                          </div>
                                                          <div class="col-1">
                                                              <div>Sat</div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  </div>

                                              </div>
                                              <div class="fluid-container">
                                                  <div class="row justify-content-center">
                                                      <div class="col-lg-7 col-md-7 col-sm-12">
                                                          <div class="row">
                                                              <div class="weekday weekend col-1">
                                                                  <div class="weekdayitem 1">
                                                                      <span>25 </span>
                                                                  </div>

                                                                  <div class="event">
                                                                      <span>
                                                                          Image 1 was added
                                                                      </span>
                                                                  </div>
                                                              </div>


                                                              <div class="weekday col-1">
                                                                  <div class="weekdayitem">
                                                                      <span>26 </span>
                                                                  </div>
                                                              </div>


                                                              <div class="weekday col-1">
                                                                  <div class="weekdayitem">
                                                                      <span>27 </span>
                                                                  </div>
                                                              </div>


                                                              <div class="weekday col-1">
                                                                  <div class="weekdayitem">
                                                                      <span>28 </span>
                                                                  </div>
                                                                  <div class="event">
                                                                      <span>
                                                                          Image 2 was added
                                                                      </span>
                                                                  </div>
                                                              </div>


                                                              <div class="weekday col-1">
                                                                  <div class="weekdayitem">
                                                                      <span>29 </span>
                                                                  </div>
                                                              </div>

                                                              <div class="weekday col-1">
                                                                  <div class="weekdayitem">
                                                                      <span>30</span>
                                                                  </div>
                                                              </div>
                                                              <div class="weekday weekend col-1">
                                                                  <div class="weekdayitem">
                                                                      <span>1 </span>
                                                                  </div>
                                                              </div>

                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>

                                              <div class="fluid-container">
                                                  <div class="row justify-content-center">
                                                      <div class="col-lg-7 col-md-7 col-sm-12">
                                                          <div class="row">
                                                              <div class="weekday weekend">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>2 </span>
                                                                  </div>


                                                              </div>


                                                              <div class="weekday col-1">
                                                                  <div class="weekdayitem">
                                                                      <span>3 </span>
                                                                  </div>
                                                              </div>


                                                              <div class="weekday col-1">
                                                                  <div class="weekdayitem">
                                                                      <span>4</span>
                                                                  </div>
                                                              </div>


                                                              <div class="weekday col-1">
                                                                  <div class="weekdayitem">
                                                                      <span>5</span>
                                                                  </div>

                                                              </div>


                                                              <div class="weekday col-1">
                                                                  <div class="weekdayitem">
                                                                      <span>6</span>
                                                                  </div>
                                                              </div>

                                                              <div class="weekday col-1">
                                                                  <div class="weekdayitem">
                                                                      <span>7</span>
                                                                  </div>
                                                              </div>
                                                              <div class="weekday weekend col-1">
                                                                  <div class="weekdayitem">
                                                                      <span>8</span>
                                                                  </div>
                                                              </div>

                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="fluid-container">
                                                  <div class="row justify-content-center">
                                                      <div class="col-lg-7 col-md-7 col-sm-12">
                                                          <div class="row">
                                                              <div class="weekday weekend">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>9</span>
                                                                  </div>


                                                              </div>


                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>10</span>
                                                                  </div>
                                                                  <div class="event">
                                                                      <span>
                                                                          Image 3 was added
                                                                      </span>
                                                                  </div>
                                                              </div>


                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>11</span>
                                                                  </div>
                                                              </div>


                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>12</span>
                                                                  </div>

                                                              </div>


                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>13</span>
                                                                  </div>
                                                              </div>

                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>14</span>
                                                                  </div>
                                                              </div>
                                                              <div class="weekday weekend">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>15</span>
                                                                  </div>
                                                              </div>

                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>


                                              <div class="fluid-container">
                                                  <div class="row justify-content-center">
                                                      <div class="col-lg-7 col-md-7 col-sm-12">
                                                          <div class="row">
                                                              <div class="weekday weekend">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>16</span>
                                                                  </div>


                                                              </div>


                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>17</span>
                                                                  </div>
                                                              </div>


                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>18</span>
                                                                  </div>
                                                              </div>


                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>19</span>
                                                                  </div>
                                                                  <div class="event">
                                                                      <span>
                                                                          Image 4 was added
                                                                      </span>
                                                                  </div>
                                                              </div>


                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>20</span>
                                                                  </div>
                                                              </div>

                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>21</span>
                                                                  </div>
                                                              </div>
                                                              <div class="weekday weekend">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>22</span>
                                                                  </div>
                                                                  <div class="event">
                                                                      <span>
                                                                          Image 5 was added
                                                                      </span>
                                                                  </div>
                                                              </div>

                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="fluid-container">
                                                  <div class="row justify-content-center">
                                                      <div class="col-lg-7 col-md-7 col-sm-12">
                                                          <div class="row">
                                                              <div class="weekday weekend">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>23</span>
                                                                  </div>


                                                              </div>


                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>24</span>
                                                                  </div>
                                                              </div>


                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span class="active">25</span>
                                                                  </div>
                                                                  <div class="event">
                                                                      <span>
                                                                          Video 1 was added
                                                                      </span>
                                                                  </div>
                                                              </div>


                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>26</span>
                                                                  </div>

                                                              </div>


                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>27</span>
                                                                  </div>
                                                              </div>

                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>28</span>
                                                                  </div>
                                                              </div>
                                                              <div class="weekday weekend">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>29</span>
                                                                  </div>
                                                              </div>

                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>

                                              <div class="fluid-container">
                                                  <div class="row justify-content-center">
                                                      <div class="col-lg-7 col-md-7 col-sm-12">
                                                          <div class="row">
                                                              <div class="weekday weekend">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>30</span>
                                                                  </div>


                                                              </div>


                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>31</span>
                                                                  </div>
                                                              </div>


                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>1</span>
                                                                  </div>
                                                              </div>


                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>2</span>
                                                                  </div>

                                                              </div>


                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>3</span>
                                                                  </div>
                                                              </div>

                                                              <div class="weekday">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>4</span>
                                                                  </div>
                                                              </div>
                                                              <div class="weekday weekend">
                                                                  <div class="weekdayitem col-1">
                                                                      <span>5</span>
                                                                  </div>
                                                              </div>

                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
