@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/Index.css" />

<body>


    <div class="MainProfileContainer container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 MainProfileInformation">
                <div class="MainProfileInformation">

                    <a href="~/home/UpdateProfile">
                        <img src="~/images/pfp.png" />
                    </a>
                


                <div class="col-4">
                    Mikasa

                    <button type="button" class="grambuttons">
                        Follow
                    </button>
                
                    <div> <b>6</b> Posts </div>

                    <div> <b>No</b> Followers </div>

                    <div> <b>0</b> Following </div>
                </div>

                <div class="col-4">
                    Description

                </div>
            </div>
        </div>

    </div>
    </div>
    </div>


    <div class="mainstoriescontainer container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 stories">

                <img src="~/images/story1.jpg" />
                <p>AboutMe</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 stories">
                <img src="~/images/story2.png" />
                <p>MyAdventure</p>
            </div>
        </div>




        <div class="mainoptionstable container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 optionstable">

                    <div class="btn">
                        <button type="button" class="grambuttons2" href="https://www.google.com/">
                            Posts
                        </button>
                        <button type="button" class="grambuttons2" href="https://www.google.com/">
                            Reels
                        </button>
                        <button type="button" class="grambuttons2" href="https://www.google.com/">
                            IGTV
                        </button>
                        <button type="button" class="grambuttons2" href="https://www.google.com/">
                            Tagged
                        </button>
                        <button type="button" class="grambuttons2" href= href="~/Home/Calendar">
                            View By Calendar
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <div class="maintable container-fluid">




            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 story">
                    <div class="row">
                        <div class="col-4">
                            <Img src="~/images/Picture1.jpg" />

                        </div>




                        <div class="col-4 story">

                            <img src="~/images/Picture2.jpg" />

                        </div>


                        <div class="col-4 story">
                            <img src="~/images/Picture3.jpg" />

                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-4 story">
                    <div class="row">
                        <div class="col-4 story">
                            <Img src="~/images/Picture4.jpg" />

                        </div>


                        <div class="col-4 story">
                            <img src="~/images/Picture5.jpg" />

                        </div>


                        <div class="col-4 story">

                            <video controls type="video/mp4">

                                <source src="~/videos/video1.mp4" />
                            </video>


                        </div>

                    </div>

                </div>

</body>