@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/Index.css" />



<div class="MainProfileContainer">
  
    <div class="MainProfileInformation span3rows">
        
            <a href="~/home/UpdateProfile">
                <img src="~/images/pfp.png" />
            </a>
        </div>



    <div class="span2columns">
        Mikasa

        <a class="grambuttons" href="">Follow</a>

    </div>


    <div class="span2columns">
        <div> <b>6</b> Posts </div>

        <div> <b>No</b> Followers </div>

        <div> <b>0</b> Following </div>
    </div>

    <div class="span2columns">
        Description

    </div>
</div>
    </div>
         </br>
        <div class="table">
            
                
                 <div class="story">
                       
                        <img src="~/images/story1.jpg" />
                        <p>AboutMe</p>
                    </div>
                 <div class="story">
                     <img src="~/images/story2.png" />
                     <p>MyAdventure</p>
                 </div>
                </div>
            

        
    
        <div id="optionstable">
            <a class="grambuttons2" href="https://www.google.com/"
               target="_Blank"> Posts </a>

            <a class="grambuttons2" href="https://www.google.com/"
               target="_Blank">Reels </a>

            <a class="grambuttons2" href="https://www.google.com/"
               target="_Blank">IGTV </a>

            <a class="grambuttons2" href="https://www.google.com/"
               target="_Blank"> Tagged </a>

            <a class="grambuttons2" href="~/Home/Calendar" target="_Blank">
            View By Calendar </a>

        </div>


    <div class="table">

        

            
                
        <div class="story">
            <div class="Container2">
                <Img src="~/images/Picture1.jpg" />
                <div class="overlay2">
                    <div class="text2">
                        <img src="~/images/heart.png" /> 5,000
                        <img src="~/images/comment.png" /> 1,500
                    </div>
                </div>
            </div>
        </div>

                    <div class="story">
                        <img src="~/images/Picture2.jpg" />

                    </div>


                    <div class="story">
                        <img src="~/images/Picture3.jpg" />

                    </div>
                

                    <div class="story">
                        <Img src="~/images/Picture4.jpg" />

                    </div>


                    <div class="story">
                        <img src="~/images/Picture5.jpg" />

                    </div>


                    <div class="story">
                        <div>
                            <video controls type="video/mp4">

                                <source src="~/videos/video1.mp4" />
                            </video>


                    </div>
                

           

        
    </div>

