@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />

<div>
    <table>

        <tbody>
            <tr>

                <td rowspan="3">
                    <p>
                        <a href="~/home/UpdateProfile">
                            <img src="~/images/pfp.png" />
                        </a>
                    </p>
                </td>


                <td>
                    Mikasa

                    <a class="grambuttons" href="">Follow</a>

                </td>
            </tr>
            <tr>
                <td>
                    <span> <b>6</b> Posts </span>

                    <span> <b>No</b> Followers </span>

                    <span> <b>0</b> Following </span>
                </td>
            </tr>
            <tr>
                <td>
                    Description

                </td>
            </tr>
        </tbody>

    </table> </br>

    <div class="Div2">
        <span class="TestSpan">

            <a href="https://www.google.com/"
               target="_Blank"> Posts </a>

            <a href="https://www.google.com/"
               target="_Blank">Reels </a>

            <a href="https://www.google.com/"
               target="_Blank">IGTV </a>

            <a href="https://www.google.com/"
               target="_Blank"> Tagged </a>
    </div>


    <div>

        <table>

            <tbody>
                <tr>
                    <td>
                        <Img src="~/images/Picture1.jpg" />

                    </td>

                    <td>
                        <img src="~/images/Picture2.jpg" />

                    </td>


                    <td>
                        <img src="~/images/Picture3.jpg" />

                    </td>
                </tr>
                <tr>

                    <td>
                        <Img src="~/images/Picture4.jpg" />

                    </td>


                    <td>
                        <img src="~/images/Picture5.jpg" />

                    </td>


                    <td>
                        <div>
                            <video controls type="video/mp4">

                                <source src="~/videos/video1.mp4" />
                            </video>


                    </td>
                </tr>

            </tbody>

        </table>
    </div>

