@{
    ViewData["Title"] = "Home Page";
}
<div>
    <style>
        img {
            width: 500px;
            height: 500px;
        }
    </style>
    <table>

        <tbody>
            <tr>

                <td rowspan="3">

            <img src="~/images/pfp.png" />
        </td>
   

        <td>
            Mikasa

            <button>
                Follow
            </button>
            
        </td>
            </tr>
            <tr>
        <td>
           <span> 6 Posts </span>
            
            <span>No Followers </span>

            <span>0 Following </span>
        </td>
        </tr>
            <tr>
        <td>
            Description

        </td>
        </tr>
        </tbody>

    </table> </br>

    <a href="https://www.google.com/"
       target="_Blank"> Posts </a>

    <a href="https://www.google.com/"
       target="_Blank">Reels </a>

    <a href="https://www.google.com/"
       target="_Blank">IGTV </a>

    <a href="https://www.google.com/"
       target="_Blank"> Tagged </a>


</div>

<style>


    img {
        width: 150px;
        height: 150px;
    }

    video {
        width: 150px;
        height: 150px;
    }
</style>

<div>
    <table>

        <tbody>
            <tr>
        <td>
            <Img src="~/images/Picture1.jpg" />

        </td>

        <td>
            <img src="~/images/Picture2.jpg" />

        </td>


        <td>
            <img src="~/images/Picture3.jpg" /> 

        </td> </tr>
        <tr>

            <td>
                <Img src="~/images/Picture4.jpg" /> 

            </td>


            <td>
                <img src="~/images/Picture5.jpg" />

            </td>


            <td>
                <video controls type="video/mp4">

                <source src="~/videos/video1.mp4" />
                </video>
                

            </td>
        </tr>

        </tbody>

    </table>
</div>

