<form>
    <table>
        <tbody>
            <tr>
                <td>
                 <label for="FirstName">First Name:</label>
                 </td>
                <td>
                <input type="text" id="First Name" /> </td>
                </td>
                <td>
                    <label for="Last Name">Last Name:</label>

                </td>
                <td>
                    <input type="text" id="Last Name" />
                </td>
                </tr>
            <tr>
                <td>
                    <label>Gender:</label>
                </td>
                <td colspan="3">
                    <input type="radio" id="MaleGender" name="gender" />
                    <label for="MaleGender">Male</label>

                    <input type="radio" id="FemaleGender" name="gender" />
                    <label for="FemaleGender">Female</label>

                    <input type="radio" id="NoResponse" name="gender" />
                    <label for="NoResponse">Prefer not to say</label>
                </td>
                </tr>
            <tr>
                <td colspan="2">
                    <label>Choose color:</label>
                    <input type="color" id="Favorite Color" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Birthday</label>
                </td>
                <td>
                    <input type="date" id="Birthday" min="1920-01-01" max="2021-05-05" />
                </td>
                <td colspan="2">
                    <label for="Email">Email:</label>
                    <input type="email" id="Email"/>
                </td>
                </tr>
            <tr>
                <td colspan="4">
                    <label for="SelectCountry">Select Country:</label>
                    <select id="country" name="country">
                        <option value="United States of America">United States of America</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Canada">Canada</option>
                        <option value="Other">Other</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="ProfilePicture">Select Profile Picture:</label>
                </td>
                <td colspan="3">
                    <input type="File" id="ProfilePicture" />
                </td>
                
            </tr>
            
            <tr>
                <td colspan="4">
                    <input type="submit" />
                </td>
          
            </tr>
        </tbody>
    </table>
</form>
