<form method="get" action="~/Home/SaveUser">

    <fieldset>
        <legend>Register the user</legend>
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="username">User name</label>
                    </td>
                    <td>
                        <input id="Username" type="text" name="password"
                               size="40" maxlength="40"
                               placeholder="type your username here" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password"> Password </label>
                    </td>
                    <td>
                        <input id="password" name="Password"
                               size="40" maxlength="40"
                               placeholder="type your password here" />
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <input type="submit" value="Register" />
                        <input type="reset" />
                    </td>
                </tr>




            </tbody>

        </table>

    </fieldset>
</form>
<br />
<br />
<a href="~/Home/Index">Go back to home page</a>
