<form method="get" action="~/Home/SaveUser">
    <link rel="stylesheet" href="~/css/register.css" />
    <fieldset>
        <div class="flextable">Register the user</div>
       
                    <div class="flextablecell">
                        <label for="UserName">User name</label>
                    </div>
                    <div class="flextablecell">
                        <input id="UserName" type="text" name="UserName" value="Insert UserName"
                               size="40" maxlength="40"
                               placeholder="type your username here" />
                    </div>
                
                
                    <div class="flextablecell">
                        <label -for="Password"> Password </label>
                    </div>
                    <div>
                        <input id="Password" name="Password" type="Password"
                               size="40" maxlength="40"
                               placeholder="type your password here" />
                    </div>
               

                
                    <div class="flextablecell">
                        <input type="submit" value="Register" />
                        <input type="reset" />
                    </div>
                




            
    </fieldset>
</form>
<br />
<br />
<a href="~/Home/Index">Go back to home page</a>
