<link rel="stylesheet" href="~/css/updateprofile.css" />

<form>
   
            Update User Information
    <div class="flexbox">
        <div class="flextablecell">
            <label for="FirstName">First Name:</label>
        </div>
        <div class="flextablecell">
            <input type="text" id="First Name" />
        </div>

        <div class="flextablecell">
            <label for="Last Name">Last Name:</label>

        </div>
        <div class="flextablecell">
            <input type="text" id="Last Name" />
        </div>


        <div class="flextablecell">
            <label>Gender:</label>
        </div>
        <div class="flextablecell">
            <input type="radio" id="MaleGender" name="gender" />
            <label for="MaleGender">Male</label>

            <input type="radio" id="FemaleGender" name="gender" />
            <label for="FemaleGender">Female</label>

            <input type="radio" id="NoResponse" name="gender" />
            <label for="NoResponse">Prefer not to say</label>
        </div>



        <div class="flextablecell">
            <label for="Email">Email:</label>
            <input type="email" id="Email" />
        </div>

        <div class="flextablecell">
            <label for="SelectCountry">Select Country:</label>
            <select id="country" name="country">
                <option value="United States of America">United States of America</option>
                <option value="Mexico">Mexico</option>
                <option value="Canada">Canada</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="flextablecell">
            <input type="submit" />
        </div>

    </div>
</form>