<link rel="stylesheet" href="~/css/updateprofile.css" />

<form>
   
            Update User Information
    <div id="formcontainer">
        <div class="flexrow">
            <div class="columnlabels">
                <label for="FirstName">First Name:</label>
            </div>
            <div class="columninputs">
                <input type="text" id="First Name" placeholder="input your first name" />
            </div>
            <div class="columnlabels">
                <label for="Last Name">Last Name:</label>
            </div>
            <div class="columninputs">
                <input type="text" id="Last Name" placeholder="input your last name" />
            </div>
        </div>
           
        <div class="flexrow">
            <div class="columnlabels">
                <label for="User">User:</label>
            </div>
            <div class="columninputs">
                <input type="text" id="Username" placeholder="input your username" />
            </div>
            <div class="columnlabels">
                <label for="Last Name">Password:</label>
            </div>
            <div class="columninputs">
                <input type="text" id="Password" placeholder="input your password" />
            </div>
        </div>
            </div>



        <div class="flexrow">
            <label>Gender:</label>
        </div>
        <div class="flexrow">
            <input type="radio" id="MaleGender" name="gender" />
            <label for="MaleGender">Male</label>

            <input type="radio" id="FemaleGender" name="gender" />
            <label for="FemaleGender">Female</label>

            <input type="radio" id="NoResponse" name="gender" />
            <label for="NoResponse">Prefer not to say</label>
        </div>



      

        <div class="fullrow">
            <label for="SelectCountry">Select Country:</label>
            <select id="country" name="country">
                <option value="United States of America">United States of America</option>
                <option value="Mexico">Mexico</option>
                <option value="Canada">Canada</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="flexrow">
            <input type="submit" />
        </div>

    </div>
</form>